@keyframes rebote {
   0%   { transform: translate(0, 0); }
      25%  { transform: translate(-200px, 0);background-color: rgb(255, 91, 15); }    /* Derecha */
      50%  { transform: translate(-200px, 200px); }/* Abajo */
      75%  { transform: translate(0, 200px);  background-color: rgb(55, 229, 61);}    /* Izquierda */
      100% { transform: translate(0, 0); }   
    
    
    
}





#circulito{
width: 200px;
height: 200px;
 border-radius:100%;
 background-color: rgb(55, 229, 61);
 margin-top: 200px;
 margin-left: 200px;

}


#triangulo {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid rgb(55, 229, 61);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: cambiop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes cambiop {
  0%   { border-bottom-color: red; }
  15%  { border-bottom-color: rgb(150, 214, 155);rotate:0deg ;}
  30%  { border-bottom-color: rgb(255, 2, 2);}
  45%  { border-bottom-color: rgb(51, 74, 206);}
  60%  { border-bottom-color: rgb(36, 17, 202);}
  75%  { border-bottom-color: rgb(55, 229, 61);}
  90%  { border-bottom-color: rgb(255, 91, 15);}
  100% { border-bottom-color: rgb(233, 6, 119);rotate:360deg;}
}


.animar {
 animation-name: rebote;
 animation-duration: 3s;
 animation-iteration-count: infinite;
}