@keyframes rebote{
   0%   { transform: translate(0, 0); }
      25%  { transform: translate(-200px, 0);background-color: rgb(255, 91, 15); }    /* Derecha */
      50%  { transform: translate(-200px, 200px); background-color:rgba(239, 28, 235, 0.814) ;}/* Abajo */
      75%  { transform: translate(0, 200px);  background-color: rgb(55, 229, 61);}    /* Izquierda */
      100% { transform: translate(0, 0); }   
      
}
#circulito{
width: 200px;
height: 200px;
 border-radius:100%;
 background-color: rgb(55, 229, 61);
 margin-top: 200px;
 margin-left: 200px;

}

.animar {
 animation-name: rebote;
 animation-duration: 3s;
 animation-iteration-count: infinite;
}